<div class="container justify-content-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>To Do List: </ion-card-title>
      <br>
      <p><em>Swipe to the right <b>&rarr;</b> to Edit and Swipe to the left <b>&larr;</b> to Delete</em></p>
      <div class="button-container"><ion-button (click)="openAddFormModal()">Add new task</ion-button></div>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-card-subtitle class="headerRow">
                Tasks:
              </ion-card-subtitle>
            </ion-col>
            <ion-col col-2>
              <ion-card-subtitle>
                Deadline:
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div *ngFor="let toDo of toDoList; let i = index">
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="tertiary" (click)="openEditFormModal(toDo._id)" expandable>
                edit
              </ion-item-option>
            </ion-item-options>
            <ion-item>
              <ion-grid>
                <ion-row class="ion-align-items-start">
                  <ion-col col-2>
                    <ion-label>
                      {{ toDo.title }}
                    </ion-label>
                  </ion-col>
                  <ion-col col-2>
                    <ion-label>
                      {{ toDo.dueBy | date: 'dd/MM/yyyy' }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable (click)="deleteTask(toDo._id)">
                delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>

<!--edit form modal-->
<div class="modal fade" id="editFormModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <ion-item>
            <ion-label>Title:</ion-label>
            <ion-input data-type="text" id="title2" type="text" placeholder="Enter task title"
              formControlName="title" value="{{ selectedTaskData.title }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Deadline:</ion-label>
            <ion-input data-type="date" id="dueBy2" type="date" placeholder="Enter task's deadline"
              formControlName="dueBy" value="{{ selectedTaskData.dueBy }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Reminder:</ion-label>
            <ion-checkbox id="reminder2" formControlName="reminder" value="{{ selectedTaskData.reminder }}"></ion-checkbox>
          </ion-item>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="saveEditForm(selectedTaskData._id)">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!--add new form modal-->
<div class="modal fade" id="addFormModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add new task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm">
          <ion-item>
            <ion-label>Title:</ion-label>
            <ion-input data-type="text" id="title" type="text" placeholder="Enter task title"
              formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Deadline:</ion-label>
            <ion-input data-type="date" id="dueBy" type="date" placeholder="Enter task's deadline"
              formControlName="dueBy"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Reminder:</ion-label>
            <ion-checkbox id="reminder" formControlName="reminder"></ion-checkbox>
          </ion-item>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="saveAddForm()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>